.image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: beige;
    margin-left: auto;
    margin-right: auto;
}

.image-wrapper {
    position: relative;
    display: inline-block;
  }

  .post-image {
    display: block;

    max-height: 500px;
    width: auto;
}

p {
    margin-bottom: 1rem;
}

.title {
    font-size: 2rem;
}

/* =========================================== */
.sale-label {
    position: absolute;

    top: 0.5rem;
    right: 0.5rem;

    font-size: 2rem;

    padding: 0.25rem 0.5rem;

    color: white;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
}

.sale-label.purchase {
    background-color: chartreuse;
}

.sale-label.sale {
    background-color: crimson;
}

/* =========================================== */