.post-card-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    a {
        color: inherit;
    }

    a:hover {
        transform: scale(1.02);
    }
}

@media (min-width: 768px) {
    .post-card-container {
        grid-template-columns: repeat(4, 1fr);
    }
}