a {
    height: 100%;
    display: block;
}

.post {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 100%;

    padding: 1rem;

    border-radius: 8px;
    transition: transform 0.2s ease;
    background-color: var(--bg-post);
}

.post .title {
    font-weight: bold;
}

.post p {
    /* Use a flexbox-based layout for multi-line truncation */
    display: -webkit-box;

    /* Limit the text to 3 lines (WebKit-specific) */
    -webkit-line-clamp: 3;

    /* Standard property for limiting text to 3 lines (not yet fully supported across all browsers) */
    line-clamp: 3;

    /* Required for -webkit-line-clamp to work properly */
    -webkit-box-orient: vertical;

    /* Hide overflow content that goes beyond the container */
    overflow: hidden;

    /* Display ellipsis (…) when text overflows */
    text-overflow: ellipsis;

    /* Set line height for better readability and consistent text height */
    line-height: 1.4;

    /* Prevent the element from expanding beyond 3 lines of text */
    max-height: calc(1.4em * 3);
    /* 1.4em line height times 3 lines */

    /* Break long words if necessary to prevent overflow */
    word-wrap: break-word;
    word-break: break-word;

    padding: 2px;

    margin-bottom: 0.1rem;
}

.post-image {
    /* DO NOT TOUCH THE CODE! */
    display: block;

    width: 100%;
    /* IMPORTANT TO BE WITH: 100% and HEIGHT: AUTO! */
    height: auto;

    max-height: 200px;

    object-fit: cover;
    margin: 0.5rem 0;

    border: 1px solid #ddd;
}

.sale-label {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    padding: 4px 10px;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
}

.sale-label.purchase {
    background-color: chartreuse;
}

.sale-label.sale {
    background-color: crimson;
}

@media (min-width: 460px) {
    .post p {
        padding: 5px;
    }
}