<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Create Post</title>

    <link rel="icon" type="image/png" href="../src/assets/web_icon.png">

    <link rel="stylesheet" href="../src/styles/normalize.css">
    <link rel="stylesheet" href="../src/styles/common.css">

    <link rel="stylesheet" href="../src/styles/navbar.css">
    <link rel="stylesheet" href="../src/styles/footer.css">

    <link rel="stylesheet" href="../src/styles/form.css">

    <link rel="stylesheet" href="../src/styles/components/notifications.css">

    <link rel="stylesheet" href="../src/styles/components/loader.css">
    <link rel="stylesheet" href="../src/styles/components/loader-container.css">


</head>

<body>

    <div class="navbar"></div>

    <h1>Create Post</h1>

    <div class="loader-container">
        <div class="loader hidden"></div>
    </div>

    <div class="notifications"></div>

    <form id="createPostForm" class="form"></form>
<!--     <form id="createPostForm" class="form">
        <label for="post-image">Photo: </label>
        <input type="file" id="post-image" name="photo" accept="image/*">

        <label for="post-name">Product Name: </label>
        <input required id="post-name" name="post-name" type="text" maxlength="120"
            placeholder="Introduce the name of your post." />

        <label for="post-description">Description: </label>
        <textarea required name="post-description" id="post-description" maxlength="300"
            placeholder="Max. Length 300"></textarea>

        <label for="post-price">Price: </label>
        <input required id="post-price" name="post-price" type="number" min="1" max="9999999" step="0.01"
            placeholder="Introduce the price of your product." />

        <div>
            <label for="purchase">
                <input required type="radio" id="purchase" name="transactionType" value="purchase">
                Purchase
            </label>

            <label for="sale">
                <input required type="radio" id="sale" name="transactionType" value="sale">
                Sale
            </label>
        </div>

        <button>Create Post</button>
    </form> -->

    <div class="footer"></div>
    <script type="module" src="../src/js/main.js"></script>
</body>

</html>