<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Login</title>

  <link rel="icon" type="image/png" href="../src/assets/web_icon.png">

  <link rel="stylesheet" href="../src/styles/normalize.css">
  <link rel="stylesheet" href="../src/styles/common.css">

  <link rel="stylesheet" href="../src/styles/navbar.css">
  <link rel="stylesheet" href="../src/styles/footer.css">

  <link rel="stylesheet" href="../src/styles/form.css">

  <link rel="stylesheet" href="../src/styles/components/notifications.css">

  <link rel="stylesheet" href="../src/styles/components/loader.css">
  <link rel="stylesheet" href="../src/styles/components/loader-container.css">

  <link rel="stylesheet" href="../src/styles/components/buttons.css">

</head>

<body>
  <div class="navbar"></div>

  <main>
    <h1>Login</h1>
    <div class="loader-container">
      <div class="loader hidden"></div>
    </div>

    <div class="notifications"></div>

    <form id="loginForm" class="form">
      <label for="mail">Email:</label>
      <input type="mail" id="mail" name="mail" placeholder="Introduce your Email" />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Introduce your password" minlength="4"
        required />

      <button type="submit">Login</button>
    </form>
  </main>

  <div class="footer"></div>
  <script type="module" src="../src/js/main.js"></script>
</body>

</html>