<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Post Detail</title>
  <link rel="stylesheet" href="../src/styles/notifications.css">
  <link rel="stylesheet" href="../src/styles/loader.css">

</head>

<body>

  <div id="navbar"></div>

  <h1>Product Detail</h1>

  <div class="loader hidden"></div>
  <div id="notifications"></div>
  <div class="post-container"></div>

  <script type="module" src="../src/js/main.js"></script>
</body>

</html>