<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sign Up</title>

  <link rel="icon" type="image/png" href="../src/assets/web_icon.png">

  <link rel="stylesheet" href="../src/styles/normalize.css">
  <link rel="stylesheet" href="../src/styles/common.css">

  <link rel="stylesheet" href="../src/styles/navbar.css">
  <link rel="stylesheet" href="../src/styles/footer.css">

  <link rel="stylesheet" href="../src/styles/form.css">

  <link rel="stylesheet" href="../src/styles/components/notifications.css">

  <link rel="stylesheet" href="../src/styles/components/loader.css">
  <link rel="stylesheet" href="../src/styles/components/loader-container.css">

  <link rel="stylesheet" href="../src/styles/components/buttons.css">

</head>

<body>

  <div class="navbar"></div>

  <main>

    <h1>Signup</h1>

    <div class="loader-container">
      <div class="loader hidden"></div>
    </div>

    <div class="notifications"></div>

    <form id="signupForm" class="form">
      <label for="name">Name: </label>
      <input id="name" name="name" type="text" placeholder="Introduce your name" />

      <label for="email">Email:</label>
      <input id="email" name="email" type="email" placeholder="Introduce your email" required />

      <label for="password">Password:</label>
      <input id="password" name="password" type="password" placeholder="Introduce your password" required
        minlength="6" />

      <label for="password-confirm">Confirm Password:</label>
      <input id="password-confirm" name="password-confirm" type="password" placeholder="Confirm your password" required
        minlength="6" />

      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>

  </main>

  <div class="footer"></div>
  <script type="module" src="../src/js/main.js"></script>
</body>

</html>