.form {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;

    padding-left: clamp(1rem, 5vw, 4rem);
    padding-right: clamp(1rem, 5vw, 4rem);

    padding-top: 1rem;
    padding-bottom: 1rem;

    margin-right: 5%;
    margin-left: 5%;

    background-color: var(--bg-color-3);
}

textarea {
    max-width: 100%;
    min-width: 100%;

    min-height: 10rem;
    max-height: 10rem;
}

.form input,
textarea {
    margin-bottom: 1rem;
}

.form label {
    font-weight: bold;
}

.form .radio-button{
    margin-bottom: 1rem;
}

.select-wrapper {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    gap: 0.5rem;         
  }
  
  .tag-label {
    margin: 0;
  }

@media (min-width: 768px) {
    .form {
        margin-right: 20%;
        margin-left: 20%;
    }
}