.notification {
    border: solid 1px;
    padding: 1rem;
  }
  
  .notification.success {
    background-color: lightblue;
    border-color: rgb(0, 172, 230);
  }
  
  .notification.error {
    background-color: lightcoral;
    border-color: rgb(242, 8, 8);
  }
  